<h1> Vendor Products </h1>

<section>
  <h1><%= @vendor.name %></h1>
  <p><%= "Number of employees: #{@vendor.no_employees} " %></p>
</section>

<section>
  <h3>Vendors at this vendor:</h3>
  <% @products.each do |product| %>
    <p><%= product.name %></p>

  <% end %>

</section>

<%= params %>
